@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
.font-14, .font-16, .font-18, .font-20, .font-24, .font-28, .font-32, .font-36, .font-48 {
  font-family: "Noto Sans", "微軟正黑體";
  line-height: 1.2em;
  letter-spacing: 0.05em;
  text-align: justify;
}

.font-48 {
  font-weight: 600;
  font-size: 48px;
}

.font-36 {
  font-weight: 600;
  font-size: 36px;
}

.font-32 {
  font-weight: 600;
  font-size: 32px;
}

.font-28 {
  font-weight: 600;
  font-size: 28px;
}

.font-24 {
  font-weight: 600;
  font-size: 24px;
}

.font-20 {
  font-weight: 400;
  font-size: 20px;
}

.font-18 {
  font-weight: 400;
  font-size: 18px;
}

.font-16 {
  font-weight: 400;
  font-size: 16px;
}

.font-14 {
  font-weight: 400;
  font-size: 14px;
}

.font-16-15em {
  font: 400 16px/1.5em "Noto Sans";
  text-align: justify;
}

.font-16-24em {
  font: 400 16px/2.4em "Noto Sans";
  text-align: justify;
}

.btn-danger_2nd, .btn-danger, .btn-success_2nd, .btn-success, .btn-gold_2nd, .btn-gold, .btn-blue_2nd, .btn-blue {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 0.15em;
  transition: 0.2s;
}

.btn-danger_2nd, .btn-danger, .btn-success_2nd, .btn-success, .btn-gold_2nd, .btn-gold, .btn-blue_2nd, .btn-blue {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  padding: 4px 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Noto Sans";
}
@media screen and (max-width: 767px) {
  .btn-danger_2nd, .btn-danger, .btn-success_2nd, .btn-success, .btn-gold_2nd, .btn-gold, .btn-blue_2nd, .btn-blue {
    padding: 3.2px 5px;
  }
}
@media (max-width: 767px) {
  .btn-danger_2nd, .btn-danger, .btn-success_2nd, .btn-success, .btn-gold_2nd, .btn-gold, .btn-blue_2nd, .btn-blue {
    font-weight: 500;
    font-size: 12px;
  }
}

.btn-blue {
  background: #0C3B59;
  color: #FFFFFF;
  border: 1px solid #0C3B59;
  border-radius: 6px;
}
.btn-blue:hover {
  background: #4F6573;
  transition: 0.2s;
}
.btn-blue:active {
  background: #2D3740;
}
.btn-blue:focus-visible {
  border-radius: 8px;
  outline: 3px solid #A3AFBF;
}
.btn-blue :focus:not(:focus-visible) {
  outline: none;
}
.btn-blue:disabled {
  background: #E6E6E6;
  color: #888888;
}

.btn-gold {
  background: #BC955C;
  color: #FFFFFF;
  border: 1px solid #BC955C;
  border-radius: 6px;
}
.btn-gold:hover {
  background: #D7BF9D;
  transition: 0.2s;
}
.btn-gold:active {
  background: #CC8D1B;
}
.btn-gold:focus-visible {
  border-radius: 8px;
  outline: 3px solid #EBDFCE;
}
.btn-gold :focus:not(:focus-visible) {
  outline: none;
}
.btn-gold:disabled {
  background: #E6E6E6;
  color: #888888;
}

.btn-blue_2nd {
  background: #FFFFFF;
  color: #0C3B59;
  border: 1px solid #0C3B59;
  border-radius: 6px;
}
.btn-blue_2nd:hover {
  background: #0C3B59;
  color: #FFFFFF;
  transition: 0.2s;
}
.btn-blue_2nd:active {
  background: #2D3740;
}
.btn-blue_2nd:focus-visible {
  border: transparent;
  border-radius: 8px;
  outline: 3px solid #A3AFBF;
}
.btn-blue_2nd :focus:not(:focus-visible) {
  outline: none;
}
.btn-blue_2nd:disabled {
  background: #E6E6E6;
  color: #888888;
}

.btn-gold_2nd {
  background: #FFFFFF;
  color: #BC955C;
  border: 1px solid #BC955C;
  border-radius: 6px;
}
.btn-gold_2nd:hover {
  background: #BC955C;
  color: #FFFFFF;
  transition: 0.2s;
}
.btn-gold_2nd:active {
  background: #CC8D1B;
}
.btn-gold_2nd:focus-visible {
  border: transparent;
  border-radius: 8px;
  outline: 3px solid #EBDFCE;
}
.btn-gold_2nd :focus:not(:focus-visible) {
  outline: none;
}
.btn-gold_2nd:disabled {
  background: #E6E6E6;
  color: #888888;
}

.btn-success {
  background: #6C9255;
  color: #FFFFFF;
  border: 0 solid transparent;
  border-radius: 6px;
}
.btn-success:hover {
  background: #86ab6f;
  transition: 0.2s;
}
.btn-success:active {
  background: #6C9255;
}
.btn-success:focus-visible {
  border-radius: 8px;
  outline: 3px solid #547242;
}
.btn-success :focus:not(:focus-visible) {
  outline: none;
}
.btn-success:disabled {
  background: #E6E6E6;
  color: #888888;
}

.btn-danger {
  background: #941111;
  color: #FFFFFF;
  border: 0 solid transparent;
  border-radius: 6px;
}
.btn-danger:hover {
  background: #c21616;
  transition: 0.2s;
}
.btn-danger:active {
  background: #941111;
}
.btn-danger:focus-visible {
  border-radius: 8px;
  outline: 3px solid #660c0c;
}
.btn-danger :focus:not(:focus-visible) {
  outline: none;
}
.btn-danger:disabled {
  background: #E6E6E6;
  color: #888888;
}

.btn-success_2nd {
  background: #FFFFFF;
  color: #6C9255;
  border: 1px solid #6C9255;
  border-radius: 6px;
}
.btn-success_2nd:hover {
  background: #6C9255;
  color: #FFFFFF;
  transition: 0.2s;
}
.btn-success_2nd:active {
  background: #547242;
}
.btn-success_2nd:focus-visible {
  border: transparent;
  border-radius: 8px;
  outline: 3px solid #547242;
}
.btn-success_2nd :focus:not(:focus-visible) {
  outline: none;
}
.btn-success_2nd:disabled {
  background: #E6E6E6;
  color: #888888;
}

.btn-danger_2nd {
  background: #FFFFFF;
  color: #941111;
  border: 1px solid #941111;
  border-radius: 6px;
}
.btn-danger_2nd:hover {
  background: #941111;
  color: #FFFFFF;
  transition: 0.2s;
}
.btn-danger_2nd:active {
  background: #660c0c;
}
.btn-danger_2nd:focus-visible {
  border: transparent;
  border-radius: 8px;
  outline: 3px solid #660c0c;
}
.btn-danger_2nd :focus:not(:focus-visible) {
  outline: none;
}
.btn-danger_2nd:disabled {
  background: #E6E6E6;
  color: #888888;
}

.input-danger, .input-gold, .input-blue {
  vertical-align: top;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Noto Serif TC";
  letter-spacing: 0.1em;
  color: #444444;
}
@media screen and (max-width: 767px) {
  .input-danger, .input-gold, .input-blue {
    padding: 8px 10px;
  }
}
@media (max-width: 767px) {
  .input-danger, .input-gold, .input-blue {
    font-weight: 600;
    font-size: 14px;
  }
}
.input-danger::-moz-placeholder, .input-gold::-moz-placeholder, .input-blue::-moz-placeholder {
  color: #888888;
  opacity: 0.8;
}
.input-danger:-ms-input-placeholder, .input-gold:-ms-input-placeholder, .input-blue:-ms-input-placeholder {
  color: #888888;
  opacity: 0.8;
}
.input-danger::placeholder, .input-gold::placeholder, .input-blue::placeholder {
  color: #888888;
  opacity: 0.8;
}
.input-danger:disabled, .input-gold:disabled, .input-blue:disabled {
  background: #E6E6E6;
}

.input-blue {
  border: 1px solid #4F6573;
  border-radius: 10px;
}
.input-blue:active {
  border-color: #0C3B59;
}
.input-blue:focus {
  border-color: #0C3B59;
}

.input-gold {
  border: 1px solid #D7BF9D;
  border-radius: 10px;
}
.input-gold:active {
  border-color: #CC8D1B;
}
.input-gold:focus {
  border-color: #CC8D1B;
}

.input-danger {
  position: relative;
  border: 1px solid #941111;
  border-radius: 10px;
}
.input-danger::-moz-placeholder {
  color: #941111;
}
.input-danger:-ms-input-placeholder {
  color: #941111;
}
.input-danger::placeholder {
  color: #941111;
}
.input-danger:active {
  outline: 2px solid #c21616;
}
.input-danger:focus {
  outline: 2px solid #c21616;
}

.FAQ main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.FAQ main .icon {
  cursor: pointer;
}
.FAQ main .icon:hover {
  color: #A3AFBF;
}
.FAQ main .btns {
  text-align: end;
}
.FAQ main .btns button:not(:last-child) {
  margin-right: 10px;
}
.FAQ main .tabs {
  position: relative;
  border-bottom: 1px solid #DCDEE2;
  margin-bottom: 15px;
  text-align: start;
  flex-grow: 1;
}
.FAQ main .tabs .tab {
  cursor: pointer;
  position: relative;
  top: 1px;
  display: inline-block;
  margin-left: 4px;
  height: 31px;
  background: #f8f8f9;
  color: #444444;
  border: 1px solid #DCDEE2;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 14px;
  transition: 0.3s;
}
.FAQ main .tabs .tab:hover {
  color: #2d8cf0;
  transition: 0.3s;
}
.FAQ main .tabs .tab:active {
  background: #fff;
  color: #2d8cf0;
}
.FAQ main .tabs .tab:focus-visible {
  border-radius: 8px;
}
.FAQ main .tabs .tab:focus:not(:focus-visible) {
  outline: none;
}
.FAQ main .tabs .tab.on {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #2d8cf0;
}
.FAQ .alert-mask {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}
.FAQ .alert-mask .alert-container {
  position: absolute;
  top: 50vh;
  left: calc(50% - 150px);
  transform: translate(-50%, -50%);
}
.FAQ .alert-mask .alert-container .faq-check {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 80px;
  border-radius: 10px;
  background-color: #fff;
}
.FAQ .alert-mask .alert-container .faq-check p {
  text-align: center;
  margin-bottom: 10px;
}
.FAQ .alert-mask .alert-container .faq-check p:first-child {
  margin-bottom: 5px;
}
.FAQ .alert-mask .alert-container .faq-check p:first-child span {
  vertical-align: top;
}
.FAQ .alert-mask .alert-container .faq-check Button + Button {
  margin-left: 30px;
}
.FAQ .alert-mask .faq-form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #4F6573;
}
.FAQ .alert-mask .faq-form .form-head {
  position: relative;
  background: #2D3740;
  color: #F8F8F8;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.FAQ .alert-mask .faq-form .form-head p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.FAQ .alert-mask .faq-form .form-head span {
  cursor: pointer;
  transition: 0.3s;
}
.FAQ .alert-mask .faq-form .form-head span:hover {
  color: #A3AFBF;
  transition: 0.3s;
}
.FAQ .alert-mask .faq-form .form-body {
  padding: 40px;
}
.FAQ .alert-mask .faq-form .form-body > div:not(:last-child) {
  margin-bottom: 30px;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(1) > p {
  color: #F8F8F8;
  vertical-align: bottom;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(1) > p:not(:first-child) {
  margin-left: 30px;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(1) > p:nth-of-type(3) {
  color: #A3AFBF;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(2), .FAQ .alert-mask .faq-form .form-body > div:nth-of-type(3) {
  display: flex;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(2) p, .FAQ .alert-mask .faq-form .form-body > div:nth-of-type(3) p {
  color: #F8F8F8;
  white-space: nowrap;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(2) textarea, .FAQ .alert-mask .faq-form .form-body > div:nth-of-type(3) textarea {
  resize: none;
  width: 100%;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  background: #fff;
  padding: 5px;
  transition: 0.3s;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(2) textarea:hover, .FAQ .alert-mask .faq-form .form-body > div:nth-of-type(3) textarea:hover {
  border-color: #57a3f3;
  transition: 0.3s;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(2) textarea:focus, .FAQ .alert-mask .faq-form .form-body > div:nth-of-type(3) textarea:focus {
  outline: none;
  border-color: #57a3f3;
  box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
  transition: 0.3s;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(2) textarea::-moz-placeholder, .FAQ .alert-mask .faq-form .form-body > div:nth-of-type(3) textarea::-moz-placeholder {
  color: #C5C8CE;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(2) textarea:-ms-input-placeholder, .FAQ .alert-mask .faq-form .form-body > div:nth-of-type(3) textarea:-ms-input-placeholder {
  color: #C5C8CE;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(2) textarea::placeholder, .FAQ .alert-mask .faq-form .form-body > div:nth-of-type(3) textarea::placeholder {
  color: #C5C8CE;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(4) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(4) button:nth-of-type(2) {
  margin-left: 40px;
}
.FAQ .alert-mask .faq-form .form-body > div:nth-of-type(4) p {
  flex-grow: 1;
  color: #A3AFBF;
}/*# sourceMappingURL=faq.css.map */